
.me-auto{
    padding-left: 0px;
    margin-left: 200px;
    margin-right: 200px;

}
.js-search-input{

    border-color: orange;
    width: 308px;
    height: 36px;
}
.ml-auto{

    position: relative;
    cursor: pointer;
}