/*.hola{
    background-color: rgb(144 255 54 / 75%) !important
}*/
.me-auto{
    padding-left: 0px;
    margin-left: 200px;
    margin-right: 200px;

}
/*.d-flex{
    width: 300px;
    margin-left: 800px;
    padding-bottom: 15px;
}*/
.js-search-input{

    border-color: orange;
    width: 308px;
    height: 36px;
}